<%- layout("./layouts/boilerplate.ejs") %>
<body>

<div class="row">
    <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="post" action="/listings/<%= listing._id%>?_method=put" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="title" class="form-label" >Title</label>
        <input type="text" id="title" class="form-control"  value="<%= listing.title %> " name="listing[title]" required >
    </div>
    <div class="mb-3">
        <label for="description" class="form-label" >description</label>
        <input type="text"  class="form-control" value="<%= listing.description %>" name="listing[description]" required>
    </div>
    <div class="mb-3">
        Original Listing Image<br>
        <img src="<%= originalImageUrl %>" />
    </div>
     <div class="mb-3">
        <label for="image URL/Link" class="form-label" >upload New image</label>
        <input type="file" id="image URL/Link" class="form-control"name="listing[image]" >
    </div>
    <div class="row">
        <div class="mb-3 col-4">
        <label for="Price" class="form-label" >Price</label>
        <input type="text"  class="form-control"  value="<%= listing.price %>" name="listing[price]" required>
    </div>
        <div class="mb-3 col-8">
        <label for="country" class="form-label" >Country</label>
        <input type="text"  class="form-control" value="<%= listing.country %>" name="listing[country]" required>
    </div>
</div>
    
    <div class="mb-3">
        <label for="Location" class="form-label" >Location</label>
        <input type="text" class="form-control" value="<%= listing.location %>" name="listing[location]" required>
    </div>

        <button class="btn btn-dark">Edit</button>
    </form>

</div>

</div>
</body>